
#ingin-nostalgia-dengan-film-lama-atau-ingin-nonton-film-yang-update-udah-buruan-segera-cari-di-dunia-film{
    text-align: center;
}

.css-1qg05tj {
    font-size: 50px; 
    color: rgb(255, 255, 255);
    display: flex;
    visibility: visible;
    margin-bottom: 0.25rem;
    height: auto;
    min-height: 1.5rem;
    vertical-align: middle;
    flex-direction: row;
    -webkit-box-align: center;
    align-items: center;
    text-align: center;
}

p, ol, ul, dl {
    margin: 0px 0px 1rem;
    padding: 0px;
    font-size: 1rem;
    font-weight: 400;
    text-align: justify;
}